html {
        position: relative;
        min-height: 100%;
      }
      body {
        padding-top: 54px;
        background-color: #ffffe6;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
          margin-bottom: 60px;
        }
      }
      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        line-height: 60px; /* Vertically center the text there */
      }
      .footer a {
        color: white
      }
      .footer a:hover {
        text-decoration: none;
        color: #D3D3D3;
      }
      .btns a {
       background-color: #ffe81e;
       color: #b7a500;
       font-weight: bold;
       padding: 1%;
       border-radius: 20px; 
       display: inline-block;
       width: 25%;
       margin: 2%;
       text-decoration: none;
      }
      .btns a:hover {
        background-color: #c4b531;
        color: #ffface;
      }